<footer>
  <div class="footer-container">
    <div class="footer-social">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="footer-links">
      <div class="footer-column">
        <h4>Shop</h4>
        <a href="/allProducts">All Products</a>
        <a href="#">New Arrivals</a>
      
      </div>
      <div class="footer-column">
        <h4>Support</h4>
        <a href="#">FAQs</a>
        <a href="#">Shipping</a>
      </div>
      <div class="footer-column">
        <h4>About</h4>
        <a href="/about">About Us</a>
        <a href="/contact">Contact Us</a>
      </div>
    </div>
  </div>
</footer>